Day 1

In [105]:
print(len(input("What is your Name : ")))

What is your Name : madhavan b d
12

In [2]:
a = input("A : ")
b = input("B : ")
c = a
a = b
b = c
print("A :",a)
print("B :",b)

A : as
B : as
A : as
B : as

In [3]:
name = input("Enter your name      : ")
print("Hello",name)
city_name = input("Enter your city name : ")
pet_name  = input("Enter your pet name  : ")
band_name = city_name +" "+ pet_name
print("Try This : ",band_name)

Enter your name      : maddy
Hello maddy
Enter your city name : sathy
Enter your pet name  : rabbit
Try This :  sathy rabbit

Day 2

In [4]:
print("Tip Calculator")
Total_cost = int(input("Enter Total Amount                     : "))
Persons = int(input("Enter Total Number of People to Divide : "))
tip = int(input("Enter ti "))
tip_per = tip/100
result = Total_cost / Persons
print("Each Person Should Give : ",result+tip_per)

Tip Calculator
Enter Total Amount                     : 123
Enter Total Number of People to Divide : 2
Enter ti 12
Each Person Should Give :  61.62

In [5]:
name  = len(input("Enter the name : "))
new_name = str(name)
print("Your Name has "+ new_name + " Characters")

Enter the name : madhavan
Your Name has 8 Characters

In [6]:
num,num2 =int(input()),int(input())
print(num+num2)

12
12
24

In [7]:
two_digit_number = input()
first = two_digit_number[0]
second = two_digit_number[1]
result = int(first) + int(second)
print(result)

12
3

In [8]:
print("Welcome to rollercoster")
height = int(input("Enter your Height in cm : "))
bill = 0
if height >= 125:
    print(height,"cm - Ride")
    age = int(input("Enter your Age : "))
    if age <= 12:
        bill = 10
    elif age >=18:
        bill = 15
    elif age >=20:
        bill = 20
wants_photo = input("Do you want Photos ")
if wants_photo.lower() == 'yes':
    bill = bill +3
    print(f"Your Final Bill is :{bill} ")
else:
    print(height,"cm - Can't Ride")

Welcome to rollercoster
Enter your Height in cm : 123
Do you want Photos y
123 cm - Can't Ride

In [9]:
print("Leap Year Calculator")
year = int(input("Enter the year : "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Leap Year ")
        else:
            print("Non Leap Year")
    else:
        print("Non Leap Year")
else:
    print("Non leap year")

Leap Year Calculator
Enter the year : 2332
Non Leap Year

In [10]:
"""""print("Welcome to Doimnos ")

size = input("What Size Pizza Do You Want 'S','M','L' : ")
pepperoni = input("Do You want pepperoni 'Y' or 'N'")
cheese = input("DO you want cheese 'Y' or 'N' ")



if size.lower() == 'S':
    small_pizza
    if pepperoni.lower() == 'Y':
        small_pizza + 2
        if cheese.lower() == 'Y':
            small_pizza + 1
        else:
            print(small_pizza)
    else:
        print(small_pizza)
        

if size.lower() == 'M':
    Medium_pizza
    if pepperoni.lower() == 'Y':
        Medium_pizza + 3
        if cheese.lower() == 'Y':
            Medium_pizza + 1
        else:
            Medium_pizza
    else:
        Medium_pizza
        

        
if size.lower() == 'l':
    large_pizza
    if pepperoni.lower() == 'Y':
        large_pizza + 3
        if cheese.lower() == 'Y':
            large_pizza + 1
        else:
            large_pizza
    else:
        large_pizza
        

else:
    print("Thank You")"""

'""print("Welcome to Doimnos ")\n\nsize = input("What Size Pizza Do You Want \'S\',\'M\',\'L\' : ")\npepperoni = input("Do You want pepperoni \'Y\' or \'N\'")\ncheese = input("DO you want cheese \'Y\' or \'N\' ")\n\n\n\nif size.lower() == \'S\':\n    small_pizza\n    if pepperoni.lower() == \'Y\':\n        small_pizza + 2\n        if cheese.lower() == \'Y\':\n            small_pizza + 1\n        else:\n            print(small_pizza)\n    else:\n        print(small_pizza)\n        \n\nif size.lower() == \'M\':\n    Medium_pizza\n    if pepperoni.lower() == \'Y\':\n        Medium_pizza + 3\n        if cheese.lower() == \'Y\':\n            Medium_pizza + 1\n        else:\n            Medium_pizza\n    else:\n        Medium_pizza\n        \n\n        \nif size.lower() == \'l\':\n    large_pizza\n    if pepperoni.lower() == \'Y\':\n        large_pizza + 3\n        if cheese.lower() == \'Y\':\n            large_pizza + 1\n        else:\n            large_pizza\n    else:\n        large_pizza\n        \n\nelse:\n    print("Thank You")'

In [11]:
size = input("What Size Pizza Do You Want 'S','M','L' : ")
pepperoni = input("Do You want pepperoni 'Y' or 'N'")
cheese = input("DO you want cheese 'Y' or 'N' ")
bill = 0


if size== 'S':
    bill += 15
elif size == 'M':
    bill += 20
else:
    bill += 25

if pepperoni=='Y':
    if size== 'S':
        bill += 2
    else:
        bill += 3
if cheese == 'Y':
    bill += 1
    
print(f"Your final bill is {bill}")

What Size Pizza Do You Want 'S','M','L' : s
Do You want pepperoni 'Y' or 'N'y
DO you want cheese 'Y' or 'N' n
Your final bill is 25

In [12]:
print("Love Calculator")

boy_name  = input("Enter the Male name   : ")
girl_name = input("Enter the Female name : ")

combine = boy_name + girl_name
lower_name = combine.lower()

t = lower_name.count('t')
r = lower_name.count('r')
u = lower_name.count('u')
e = lower_name.count('e')

true = t+r+u+e

l = lower_name.count('l')
o = lower_name.count('o')
v = lower_name.count('v')
e = lower_name.count('e')
love = l+o+v+e

love_calc = str(true) + str(love)

print(f"Your Love Score is : {love_calc}")

Love Calculator
Enter the Male name   : madhav
Enter the Female name : madhav
Your Love Score is : 02

In [13]:
print("Welcome to the Island ")
print("Your task is to find the treasure")

direction = str(input("Enter the direction where you want to go 'Left' or 'Right'  : ").lower())
if direction == 'left':
    print("You came to lake.there is a island middle of the lake")
    opt = input(" Type 'wait' to wait for a boat or Type 'Swim' to swim  ").lower()
    if opt == 'wait':
        print("You arrive isand unharmed.there is a house with 3 doors.One red,One yelow and One blue.which color do you choose")
        choose_house = input("Enter House Color : ").lower()
        if choose_house == 'red':
            print("Flames - Game over ")
        elif choose_house == 'yellow':
            print("You find the treasure you win")
        else:
            print("Yoe fell into a hole - Game over")
    else:
        print("Game Over")
else:
    print("Game Over")

Welcome to the Island
Your task is to find the treasure
Enter the direction where you want to go 'Left' or 'Right'  : Left
You came to lake.there is a island middle of the lake
 Type 'wait' to wait for a boat or Type 'Swim' to swim  Wait
You arrive isand unharmed.there is a house with 3 doors.One red,One yelow and One blue.which color do you choose
Enter House Color : yellow
You find the treasure you win

In [14]:
import random 

random_integer = random.randint(1,23)
print(random_integer)
random_float = random.random()
print(random_float )
random_float = random.random()
print(random_float * 5)

5
0.40708234291559775
4.569157174002276

In [15]:
import random
coin_side = random.randint(0,1)
if coin_side == 1:
    print("Head")
else:
    print("Tails")

Head

In [16]:
states_of_india = ['Tamil Nadu','Andra pradesh','Gujarath','Bengaluru']
states_of_india[1] = 'Maddy'
states_of_india.append("Krishna")
states_of_india

['Tamil Nadu', 'Maddy', 'Gujarath', 'Bengaluru', 'Krishna']

In [17]:
import random

names = input("Enter your names Here : ")
split_names = names.split(",")
print(split_names)

num_names = len(split_names)

random_choice = random.randint(0,num_names-1 )
person_who_pay = split_names[random_choice]
print(person_who_pay,"is going to pay the bill")

Enter your names Here : mad,asd,asd,
['mad', 'asd', 'asd', '']
asd is going to pay the bill

In [18]:
row1 = ['😀','😀','😀']
row2 = ['😀','😀','😀']
row3 = ['😀','😀','😀']

maps = [row1+row2+row3]
#print(maps)
print(f"{row1}\n{row2}\n{row3}")

['😀', '😀', '😀']
['😀', '😀', '😀']
['😀', '😀', '😀']

In [1]:
import random

print("Rock Paper Scissor Game")

user_choice = int(input("Enter your Choice 1 for 'Rock' 2 for 'Paper' 3 for 'scissor'    : "))


com_choice = random.randint(0,2)
print("computer's Choice : ",com_choice)

if user_choice >= 3 or user_choice < 0:
    print("You type a wrong number you lose ")
elif user_choice == 0 and com_choice == 2:
    print("You Win ! !")
elif  com_choice == 0 and user_choice == 2:
    print("You lose !")
elif user_choice == 1 and com_choice == 0:
    print("You Win ! !")
elif  com_choice == 1 and user_choice == 2:
    print("You lose !")
elif user_choice == 2 and com_choice == 1:
    print("You Win ! !")
elif  com_choice == 2 and user_choice == 0:
    print("You lose !")
elif com_choice > user_choice:
    print("you lose !")
elif user_choice == com_choice:
    print("Match Draw")

Rock Paper Scissor Game

In [20]:
fruits = ["apple","mango"]
for fruit in fruits:
    print(fruit,end=' ')

apple mango

In [25]:
b=[]
inpt =input("Enter the Height of Students : ")
students_height=inpt.split(',')
len_of_stu = len(students_height)

for i in students_height:
    c=int(i)
    b.append(c)
sum_height = sum(b)
average = round(sum_height/len_of_stu)
print("Students Average Height : ",int(average))

Enter the Height of Students : 12,123,23,231
Students Average Height :  97

In [26]:
 inp = input("Enter the marks : ")
mark = inp.split(',')
score = []
for n in mark:
    a = int(n)
    score.append(a)
print("The Highest Mark is : ",max(score))

Enter the marks : 123,213,21312
The Highest Mark is :  21312

In [27]:
inpu = input("Enter your marks : ").split(',')
highest_score = 0
for re in inpu:
    score = int(re)
    if score > highest_score:
        highest_score = score
print("Your Highest Score : ",highest_score)

Enter your marks : 123,123,123,123,12,3
Your Highest Score :  123

In [30]:
total = 0
for i in range(0,101):
    total += i
print(total)

5050

In [31]:
for i in range(1,20):
    if i % 3 and i % 5 == 0:
        print("Fizz Bizz")

    elif i % 5 == 0:
        print("Bizz")

    elif  i % 3 ==0:
        print("Fizz")

    else:
        print(i)

1
2
Fizz
4
Fizz Bizz
Fizz
7
8
Fizz
Fizz Bizz
11
Fizz
13
14
Bizz
16
17
Fizz
19

In [32]:
def fun():
    print("Hello")
fun()

Hello

In [33]:
class IPL_RCB():
    def __init__(self,batsman,bowler):
        self.batsman = batsman
        self.bowler = bowler

In [34]:
RCB = IPL_RCB(batsman = 'Virat Kohli',bowler = 'Umesh Yadav')

In [35]:
type(RCB)

__main__.IPL_RCB

In [36]:
RCB.batsman

'Virat Kohli'

In [37]:
RCB.bowler

'Umesh Yadav'

In [38]:
class IPL_CSK():
    League = 'IPl'
    def __init__(self,batsman,bowler): #--> Attributes
        self.batsman = batsman #<-- Argument
        self.bowler = bowler 
        
    def price(self):
        print("32 CORE")

In [39]:
CSK = IPL_CSK(batsman = 'DHONI' ,bowler = 'BRAVO')

In [40]:
CSK.price()

32 CORE

In [41]:
class pet_name():
    def __init__(self,name,spots,breed):
        self.name = name
        self.spots = spots
        self.breed = breed

In [42]:
My_dog = pet_name(name = 'Krishna',spots = False ,breed = 'lab')

In [43]:
My_dog.name

'Krishna'

In [44]:
My_dog.spots

False

In [45]:
class Pet():
    def __init__(self):
        print("It is default Statement")
    def food(self):
        print("I eat only nonveg")

In [46]:
pet = Pet()

It is default Statement

In [47]:
pet.food()

I eat only nonveg

In [48]:
class Animal():
    def __init__(self):
        print("It is default Statement")
    def food(self):
        print("I eat only nonveg")
    def names(self):
        print("krishna")

In [49]:
Animal.food(123)

I eat only nonveg

In [50]:
Animal.names(54)

krishna

In [51]:
class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Second default")
    def who(self):
        print("I'm dog")

In [52]:
my_dog = Dog()

It is default Statement
Second default

In [53]:
my_dog.who()

I'm dog

In [54]:
class Sample():
    pass

In [55]:
Sample()

In [56]:
len(Sample())

TypeError: object of type 'Sample' has no len()

In [57]:
class Book():
    def __init__(self,name,author,pages):
        self.name = name
        self.author = author
        self.pages = pages

In [58]:
Book()

TypeError: __init__() missing 3 required positional arguments: 'name', 'author', and 'pages'

In [59]:
class Book():
    def __init__(self,title,author,pages):
        self.title = title
        self.author = author
        self.pages = pages
    
    def __str__(self):
        return f"{self.title} by {self.author}"
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print("This statement has been deleted")

In [60]:
check = Book('Python','Edison',200)

In [61]:
print(check)

Python by Edison

In [62]:
string = str(check)
string

'Python by Edison'

In [63]:
length = len(check)
length

200

To delete statement

In [64]:
check

In [65]:
del check

In [66]:
check

NameError: name 'check' is not defined

In [67]:
pwd

'C:\\Users\\madhavan.bala'

CSV file

In [68]:
import csv
import pandas as pd

In [69]:
#open the file
file_loc = open(r'C:\Users\madhavan.bala\Downloads\annual-enterprise-survey-2020-financial-year-provisional-csv.csv') 
                                                                                                    #,encoding= 'utf-8'

In [70]:
file_loc

In [71]:
csv_data = csv.reader(file_loc)

In [72]:
data_line = list(csv_data)

In [73]:
datas = pd.DataFrame(data_line)
datas

,0,1,2,3,4,5,6,7,8,9
0,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
1,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37080,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [77]:
col_name = ["Year","Industry_aggregation_NZSIOC","Units","Variable_code"]
data_read=pd.read_csv(r'C:\Users\madhavan.bala\Downloads\annual-enterprise-survey-2020-financial-year-provisional-csv.csv',usecols = col_name)

In [78]:
data_read[0:20]

    Year Industry_aggregation_NZSIOC               Units Variable_code
0   2020                     Level 1  Dollars (millions)           H01
1   2020                     Level 1  Dollars (millions)           H04
2   2020                     Level 1  Dollars (millions)           H05
3   2020                     Level 1  Dollars (millions)           H07
4   2020                     Level 1  Dollars (millions)           H08
5   2020                     Level 1  Dollars (millions)           H09
6   2020                     Level 1  Dollars (millions)           H10
7   2020                     Level 1  Dollars (millions)           H11
8   2020                     Level 1  Dollars (millions)           H12
9   2020                     Level 1  Dollars (millions)           H13
10  2020                     Level 1  Dollars (millions)           H14
11  2020                     Level 1  Dollars (millions)           H19
12  2020                     Level 1  Dollars (millions)           H20
13  2020                     Level 1  Dollars (millions)           H21
14  2020                     Level 1  Dollars (millions)           H22
15  2020                     Level 1  Dollars (millions)           H23
16  2020                     Level 1  Dollars (millions)           H24
17  2020                     Level 1  Dollars (millions)           H25
18  2020                     Level 1  Dollars (millions)           H26
19  2020                     Level 1  Dollars (millions)           H29

In [79]:
first_10_codes = data_read.Variable_code[:10]

In [80]:
levels = data_read.Industry_aggregation_NZSIOC[:10]

In [81]:
first_part = []
for i in first_10_codes:
    first_part.append(i)

In [82]:
#create_csv_file = datas.to_csv('New_own')

In [83]:
first_part

['H01', 'H04', 'H05', 'H07', 'H08', 'H09', 'H10', 'H11', 'H12', 'H13']

In [84]:
idt = first_10_codes + "  "+  levels

In [85]:
idt

0    H01  Level 1
1    H04  Level 1
2    H05  Level 1
3    H07  Level 1
4    H08  Level 1
5    H09  Level 1
6    H10  Level 1
7    H11  Level 1
8    H12  Level 1
9    H13  Level 1
dtype: object

PDF file

In [86]:
import PyPDF2
pdf_file = open('C:/Users/madhavan.bala/Downloads/task.pdf','rb')
pdf_reader = PyPDF2.PdfFileReader(pdf_file)
num_of_pages = pdf_reader.numPages
print(num_of_pages,"Pages Here")

1 Pages Here

In [87]:
page_one = pdf_reader.getPage(0)
first_page = page_one.extractText()
print(first_page)

Lorem Ipsum

is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
type and scrambled it to make a type specimen book. It has
survived not only five centuries, but also
the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
desktop publishing

software like Aldus PageMaker including versions of Lorem Ipsum.


Lorem Ipsum

is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle
y of
type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
1960s with the release of Letraset sheets containing

Lorem Ipsum passages, and more recently with
desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


Lorem Ipsum

is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
the industry's standard dummy

text ever since the 1500s, when an unknown printer took a galley of
type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
the leap into electronic typesetting, remaining essentially unchanged. It was popular
ised in the
1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


Lorem Ipsum

is simply dummy text of the printing and typesett
ing industry. Lorem Ipsum has been
the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
the leap into electro
nic typesetting, remaining essentially unchanged. It was popularised in the
1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
.


Lorem Ipsum

is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
type and scrambled it to make a type specimen book. It has
survived not only five centuries, but also
the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
desktop publishing

software like Aldus PageMaker including versions of Lorem Ipsum.


Lorem Ipsum

is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle
y of
type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
1960s with the release of Letraset sheets containing

Lorem Ipsum passages, and more recently with
desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

In [88]:
pdf_file.close()

In [89]:
f = open('C:/Users/madhavan.bala/Downloads/task.pdf','rb')
pdf_read = PyPDF2.PdfFileReader(f)
first_page = pdf_read.getPage(0)

In [104]:
pdf_write = PyPDF2.PdfFileWriter()

In [91]:
file = open('C:/Users/madhavan.bala/Downloads/final.pdf','rb')
pdf_read = PyPDF2.PdfFileReader(file)
first_page = pdf_read.getPage(3)
print(first_page)

{'/Type': '/Page', '/Contents': IndirectObject(98, 0), '/Resources': IndirectObject(96, 0), '/MediaBox': [0, 0, 595.27, 841.89], '/Parent': IndirectObject(66, 0)}

In [92]:
tex = first_page.extractText()

In [93]:
print(tex)

4
CONTENTS

In [94]:
print("Concatenation")
"Race"+"Car"

Concatenation

'RaceCar'

In [95]:
"maddy "*5

'maddy maddy maddy maddy maddy '

In [96]:
def exam(sum=56):
    total = sum + sum
    sub = sum - sum
    mul = sum * sum
    return total,sub,mul

In [97]:
exam(123)

(246, 0, 15129)

In [98]:
def exam(sum2 = 56):
    total = sum2 + sum2
    sub = sum2 - sum2
    mul = sum2 * sum2
    return total,sub,mul

In [99]:
exam()

(112, 0, 3136)

In [100]:
def exam(sum2 = 56):
    total = sum2 + sum2
    sub = sum2 - sum2
    mul = sum2 * sum2
    return total,sub,mul

In [101]:
exam(98)

(196, 0, 9604)

In [102]:
str_example = "     Madhavan Associative Software Developer     "

In [103]:
print(str_example.upper())
print(str_example.lower())
print(str_example.swapcase())
print(str_example.capitalize())
print(str_example.title())
print(str_example.lstrip())
print(str_example.rstrip())
print(str_example.split())
print(str_example.replace('Associative','Senior'))
print(str_example.strip().replace('Madhavan','Krishna'))
print(str_example.startswith('Madhavan'))
print(str_example.endswith('   '))
print('d'in str_example)
print('d'not in str_example)

     MADHAVAN ASSOCIATIVE SOFTWARE DEVELOPER
     madhavan associative software developer
     mADHAVAN aSSOCIATIVE sOFTWARE dEVELOPER
     madhavan associative software developer
     Madhavan Associative Software Developer
Madhavan Associative Software Developer
     Madhavan Associative Software Developer
['Madhavan', 'Associative', 'Software', 'Developer']
     Madhavan Senior Software Developer
Krishna Associative Software Developer
False
True
True
False